.card-body {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: black;
}

.p-card .p-card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-style {
    font-weight: bold;
}